<div>
    <table class="tab">
        <thead>
            <tr>
                <th>index</th>
                <th>Username</th>
                <th>Role</th>
                <th>Enabled</th>
                <!-- *ngIf="role === 'ADMIN'" -->
                <th *ngIf="hasPermission('user:write')">ACTIONS</th>  
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" class="user-line">
                <td> {{ users.indexOf(user)+1 }} </td>
                <td> {{ user.username }} </td>
                <td> {{ user.role | uppercase }} </td>
                <td> {{ user.enabled }} </td>

                

                <!-- *ngIf="role === 'ADMIN'" -->
                <td *ngIf="hasPermission('user:write')">
                    <button *ngIf="user.role !== 'ADMIN'" mat-raised-button class="button" (click)="deleteUser(user.username)" color="warn">Delete</button>
                    <button *ngIf="user.role !== 'ADMIN'" mat-raised-button class="button" (click)="updateUser(user.username)" color="primary">Update</button>
                    <button *ngIf="!user.enabled" mat-raised-button class="button" (click)="activateUserAcc(user.username)">activate</button>
                </td>

            </tr>
        </tbody>
    </table>

    <div class="add-button">
        <a routerLink="/register" routerLinkActive="active"><mat-icon>person_add</mat-icon></a>
        <h4>Add</h4>
    </div>
</div>