.form-field{
    font-size: 20px;
}
.hide-password-icon{
    font-size: 20px;
}
form{
    overflow:hidden;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    width: 300px;
    border-radius: 7px;
    background-color: white;
}

.form-element{
    width: fit-content;
    margin: auto;
}

h2{
    margin-top: 0;
    background-color: rgba(6, 124, 124, 0.644);
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: rgb(238, 182, 0);
}

.button-div{
    width: fit-content;
    margin: auto;
}

.register{
    width: fit-content;
    margin: auto;
}
a{
    color: rgb(0, 185, 145);
    text-decoration: none;
    font-size: 20px;
}

p{
    color: red;
    text-align: center;
    font-size: 12px;
}

mat-form-field{
    width: 200px;
    margin-bottom: 20px;
}