*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(6, 124, 124);

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.logo{
  padding-top: 7px;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(255, 196, 0);
  letter-spacing: 3px;
}

ul, li, a{
  float: left;
  list-style: none;
}


a{
  text-align: center;
  padding: 6px 10px 0 10px;
  color: rgb(236, 236, 236);
  font-size: 21px;
  text-decoration: none;
}


.link a{
  width: 100%;
}


header{
  padding: 0 20px 0 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.active{
  background-color: rgb(8, 151, 151);
}
