/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }


body{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: rgb(240, 240, 240);
}